TOKEN="YOUR_BOT_TOKEN"
MONGOURL="YOUR_MONGO_URL"
DEV_ID="YOUR_DISCORD_ID"
SERVER_ID="YOUR_SERVER_ID"
ROBLOX_CLOUD_KEY="YOUR_GROUP_SCOPED_ROBLOX_OPEN_CLOUD_KEY"
GAME_VERIFICATION_ENABLED="false"
GAME_VERIFICATION_PORT="3000"
GAME_VERIFICATION_API_KEY=""
ROBLOX_VERIFICATION_GAME_URL=""
ROBLOX_VERIFICATION_PLACE_ID=""
