TOKEN="YOUR_BOT_TOKEN"
MONGOURL="YOUR_MONGO_URL"
DEV_ID="YOUR_DISCORD_ID"
SERVER_ID="YOUR_SERVER_ID"
ROBLOX_CLOUD_KEY="YOUR_GROUP_SCOPED_ROBLOX_OPEN_CLOUD_KEY"
ROBLOX_GROUP_ID="YOUR_ROBLOX_GROUP_ID"
LOG_CHANNEL_ID="YOUR_LOG_CHANNEL_ID"
GAME_VERIFICATION_ENABLED="true"
GAME_VERIFICATION_PORT="YOUR_GAME_VERIFICATION_PORT"
GAME_VERIFICATION_API_KEY="YOUR_GAME_VERIFICATION_API_KEY"
ROBLOX_VERIFICATION_GAME_URL="YOUR_ROBLOX_VERIFICATION_GAME_URL"
ROBLOX_VERIFICATION_PLACE_ID="YOUR_ROBLOX_VERIFICATION_PLACE_ID"
